@charset "UTF-8";

body{
	
	
	background-color: #21618C;
	color: #D0D3D4;
	border: 3px solid black;
	
	padding-top: 15px;
    padding-right: 20px;
    padding-left: 20px;
    
    font-family: 'Open Sans', sans-serif;
    
}


#encabezado{
	justify-content: center;
	text-align: center;
}


.menu {
	justify-content: center;
	text-align: center;
	border: 2px solid black;
}

.contenidoPrincipal{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.tablaProfesores {
  border: 2px solid #14B17F ;
  border-radius: 2px;
  width: 100%; 
  margin: 20px auto; 
   background-color: #50C19D; 
  padding: 10px;
  color: white;
}

.contenidoAdicional{
	text-align: center;
	
	
}

.imagen-spring{
	
	width: 240px;
	height: 250px;
	
}

.java-imagen{
	
	width: 30%;
	border-radius: 17px;
}

/* Estilos para el formulario cliente*/

.campo{
    width: 40%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
}


#boton-registrar
{
    background-color:  #077824;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.pie-de-pagina{
	text-align: center;
}

#registro {
	text-align: center;
}




        .campo {
            padding: 8px; 
            margin-bottom: 10px; 
        }

      
        .seleccionGenero {
            margin-bottom: 15px;
        }

        
        .nombreInput {
            margin-bottom: 10px; 
        }

    
        #sugerencias {
            padding: 8px; 
            margin-bottom: 10px; 
        }
