<!DOCTYPE html>
<html lang="es">
	<head>
	
		<meta charset="UTF-8">
		<title>Formulario de cliente</title>
		<link rel="stylesheet" href="../static/css/styles.css">
		
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
		
		
	</head>
<body >

	<header id="registro">
			<h1>Registro de cliente</h1>
	</header>
	
	<main>
	<form action="#" method="post" >
	
	<label for="dni" >DNI:  </label>
	<input type="number" id ="dni" name="dni" required="required" class="campo"><br> 
	
	
	<label for="nombres">Nombres:  </label>
	<input type="text" id ="nombres" name="nombres" required class="campo"><br> 
	
	
	<label for="apellido">Apellido:  </label>
	<input type="text" id ="apellido" name="apellido" required class="campo"><br> 
	
		<div class="seleccionGenero">
				<div class="nombreInput">Género:</div> 	
				<div class="generosDisponibles">
					<label for="generoM"> Masculino<input id="generoM" type="radio" name="genero"></label>
					<label for="generoF">Femenino<input id="generoF" type="radio" name="genero"></label>
					<label for="generoX">x<input id="generoX" type="radio" name="genero"></label> <br>
				</div>
		    </div>
	
		
		
		<label for="correoElectronico">Correo Electronico: </label>
		<input type="email" id ="correoElectronico" name="correoElectronico" required class="campo"><br> 
		
		
		<label for="domicilio">Domicilio:  </label>
		<input type="text" id ="domicilio" name="domicilio" required class="campo"><br> 
	
		
		<label for="provincia">Provincia:  </label>
		<select id="provincia" name="provincia" required class="campo">
			<option value="">Selecciona una provincia</option>
			<option value="JUJUY">Jujuy</option>
			<option value="SALTA">Salta</option>
			<option value="TUCUMAN">Tucuman</option>
			<option value="CORDOBA">Cordoba</option>
			<option value="BUENOSAIRES">Buenos Aires</option>
			<option value="LARIOJA">La Rioja</option>
			<option value="MISIONES">Misiones</option>
			<option value="CHACO">Provincia del Chaco</option>
			<option value="TIERRADELFUEGO">Tierra del Fuego</option>
			<option value="ENTRERIOS">Entre Rios</option>
			<option value="SANTAFE">Santa Fe</option>
			<option value="LAPAMPA">La Pampa</option>
			<option value="SANTACRUZ">Santa Cruz</option>
			<option value="MENDOZA">Mendoza</option>
			<option value="CORRIENTES">Corrientes</option>
			<option value="RIONEGRO">Rio Negro</option>
			<option value="NEUQUEN">Neuquen</option>
			<option value="CHUBUT">Chubut</option>
			<option value="SANJUAN">San Juan</option>
			<option value="SANLUIS">San Luis</option>
			<option value="FORMOSA">Formosa</option>
			<option value="SANTIAGO">Santiago del Estero</option>
			<option value="LARIOJA">La Rioja</option>
			<option value="CATAMARCA">Catamarca</option>
		</select><br>		
		
		<label for="numeroTelefono">Numero de Telefono:  </label>
		<input type="number" id ="numeroTelefono" name="numeroTelefono"	class="campo"><br> 	
		
	
		
		<div class="nombreInput">Categorias de interés:<br>
		<label for="categoria1">
		<input type="checkbox" id="categoria1"
		name="categoria" value="1">
		Categoria1
		</label>
		
			<label for="categoria2">
		<input type="checkbox" id="categoria2"
		name="categoria" value="2">
		Categoria2
		</label>
		
		<label for="categoria3">
		<input type="checkbox" id="categoria3"
		name="categoria" value="3">
		Categoria3
		</label><br>
		</div>
		<label for="sugerencias" class="titulospequeños">Sugerencias para la empresa:</label><br>
		<textarea id="sugerencias" name="sugerencias" rows="4" cols="50"></textarea><br>
		
		<label for="password">Password</label>
		<input type="password" id="password" name="password" required class="campo"><br>
		
	
		<label for="terminos">Acepto los terminos y condiciones</label>
		<input type="checkbox" id="terminos" name="terminos" required><br>
		
		<label for="informacionEmpresa">Acepto recibir informacion relativa a la empresa</label>
		<input type="checkbox" id="informacionEmpresa" name="informacionEmpresa"><br>
		
		
		<button type="submit" id="boton-registrar">Registrar</button>
	</form>
	
	</main>
    
	
	
													<!-- Pie de la pagina -->
    		<footer class="pie-de-pagina">
    		<img alt="logo de la universidad" src="../static/images/unju_utn.png" width="200" class="imagenes"> 
    		
    			<p  class="texto">Derechos de autor © 2024 - FACULTAD DE INGIENERIA - UNJU</p>
 				<p class="texto"><a href="https://www.fi.unju.edu.ar/">Pagina oficial de la facultad</a>
    			<p class="texto"><a href="https://www.facebook.com/fiunju/?locale=es_LA">Facebook de la facultad</a>
    			<p class="texto">Teléfono: 0388 422-1580 </p>
    			
    		</footer>	
	
	
	
</body>
</html>