<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<title>Programacion Visual</title>
		<link rel="stylesheet" href="../static/css/styles.css">
	</head>
	<body>
		<header id="encabezado">
			<h1> Bienvenido a Programacion Visual (UNJU)</h1>
		</header>
		
		<nav class="menu">
			<ul class="texto" >
				<li><a href="https://www.fi.unju.edu.ar" class="link"> Pagina oifical de la facultad </a></li>
				<li><a href="https://www.virtual.unju.edu.ar/course/view.php?id=2540" class="link">Materia en el aula virtual</a></li>
				<li><a href="https://es.wikipedia.org/wiki/Programaci%C3%B3n_visual" class="link">Informacion adicional de la materia</a></li>
				
			</ul>
	
		</nav>
		
		
		<main class="contenidoPrincipal">
			
			
			
			<section id="informacion" class="secciones">
			<h2 class="titulosdeSeleccion">>Informacion:</h2>
			<p class="texto">Aprendemos los conceptos básicos de programación en Java, como tipos de datos, estructuras y la idea de programación orientada a objetos.
			Nos sumergimos en el mundo de las aplicaciones web, utilizando Spring Boot, un framework muy popular. Aprenderemos a crear proyectos web, manejar peticiones y diseñar interfaces con HTML y CSS.</p>
			</section>
			
			
			
			
			<section class="profesores">
				<h3>Profesores (teoricas y practicas)</h3>
				<table class="tablaProfesores">
					<tr>
						<th>TEORIA</th>
						<th>PRACTICA</th>
						<th>PRACTICA</th>
						<th>PRACTICA</th>
					</tr>
					<tr>
						<td>Ariel Vega</td>
						<td>Carolina Apaza</td>
						<td>Juan Carlos Rodriguez</td>
						<td>Gustavo Sosa</td>
					</tr>
				</table>
			</section>
			
			
			<section id="horarios" class="secciones">
			<img alt="logo de la materia" src="../static/images/hero-inferior.svg" width="400" class="imagenes">
			
			<h3 class="titulosdeSeleccion">>Horarios por Comision</h3>
				<ol class="texto">
					<li>Practica: Lunes (18:00 a 21:00) </li>
					<li>Teoria: Miercoles (18:00 a 21:00) </li>
					<li>Practica: Jueves (15:00 a 17:00) </li>
					<li>Practica: Viernes (18:00 a 21:00) </li>
				</ol>
			
			</section>
		<section>
        <h2>UNIDAD I: Lenguaje Java</h2>
        <p>Tipos de datos primitivos y complejos. Estructuras de datos. Operadores. Uso de Strings, Arreglos y Colecciones. Conceptos generales de la Programación Orientada a Objetos. Clases y objetos: Definición y Ejemplos.</p>
  		<img alt="imagen-java-unidad1" src="../static/images/images.jpeg">
    </section>

    <section>
        <h2>UNIDAD II: Introducción a Spring Boot</h2>
        <p>Arquitectura de aplicaciones Web. Herramientas necesarias. ¿Qué es un Framework? Evolución de Spring. Módulos disponibles. Arquitectura de una aplicación con Spring. Creación de proyectos con Spring Boot en un IDE. Concepto de Controladores. Gestión de peticiones con RequestMapping. Introducción a HTML. Estructura de un documento HTML. Introducción a CSS. Creación de un sitio Web HTML.</p>
    	<img alt="imagen-spring-unidad2" src="../static/images/springboot.jpeg" width="200">
    </section>

    <section>
        <h2>UNIDAD III: Gestión de Dependencias y Versionamiento</h2>
        <p>Gestión de Proyectos mediante un sistema de control de versionamiento. Git: tareas de versionamiento con Git. Integración de Git con un IDE. Maven: descripción y utilidad. Descripción de la estructura de un proyecto Maven. Gestión de dependencias, repositorio Maven. Uso de arquetipos Maven. Spring Boot y Maven.</p>
        <img alt="imagen-git-unidad3" src="../static/images/git.png" width="200">
    </section>

    <section>
        <h2>UNIDAD IV: Spring Boot MVC</h2>
        <p>Thymeleaf como motor de templates. Creación de un proyecto MVC con Spring Boot y thymeleaf. Configuración de propiedades mediante el fichero properties o yml. Introducción a Bootstrap: concepto e implementación de componentes. Navbar. Grillas con Bootstrap. Cards. Buttons. Breadscrumb.</p>
         <img alt="imagen-thymeleaf-unidad4" src="../static/images/thymeleaf.png">
    </section>

    <section>
        <h2>UNIDAD V: Clases de negocio</h2>
        <p>Creación de clases de negocio. Clases de Servicio. Concepto de Inyección de dependencias. Vinculación entre clases de negocio con Servicios. Agregar objetos al modelo (Model). Renderizado de la UI con Thymeleaf.</p>
    </section>

    <section>
        <h2>UNIDAD VI: Persistencia de Objetos</h2>
        <p>Conceptos básicos de persistencia de objetos. Introducción a JPA. Conexión a un Motor de Base de Datos. Configuración de JPA con Spring Boot. CrudRepository, JpaRepository, Query Methods, Relaciones. Sistema de trazas: configuración con Spring Boot.</p>
    </section>

    <section>
        <h2>UNIDAD VII: Manejo de formularios</h2>
        <p>Gestión de eventos. Búsquedas. CRUD de clases de negocio. Operaciones de negocio. Uso de @Query para consultas personalizadas. Integración con componentes Bootstrap y thymeleaf. Integración de conceptos en una aplicación robusta.</p>
    </section>	
		
		
		</main>
		<aside class="contenidoAdicional">
			<h2 class="titulosdeSeleccion">Adicionales</h2>

			<img alt="logo-spring" src="../static/images/spring-tool-dark.svg" class="imagen-spring">
			<p > STS es un IDE basado en Eclipse que está especialmente diseñado para desarrollar aplicaciones Spring. Viene con una amplia gama de características que pueden mejorar en gran medida la experiencia del desarrollador, que incluyen: Plantillas de proyecto para crear nuevos proyectos Spring Boot, MVC y Batch.</p>
			
			<img alt="logo-java" src="../static/images/java.jpg" class="java-imagen">
			<p> Java es un lenguaje de programación y una plataforma informática que fue comercializada por primera vez en 1995 por Sun Microsystems</p>
			<h3>¿Cuales son sus beneficios?</h3>
			<p>Java es uno de los lenguajes de programación más populares para desarrollar sistemas empresariales y aplicaciones web. Su principal virtud radica en la potencia y robustez del lenguaje y la amplia comunidad que lo apoya, la portabilidad y la escalabilidad.</p> 
    		
		</aside>
		
										<!-- Pie de la pagina -->
    		<footer class="pie-de-pagina">
    		<img alt="logo de la universidad" src="../static/images/unju_utn.png" width="200" class="imagenes"> 
    		
    			<p  class="texto">Derechos de autor © 2024 - FACULTAD DE INGIENERIA - UNJU</p>
 				<p class="texto"><a href="https://www.fi.unju.edu.ar/">Pagina oficial de la facultad</a>
    			<p class="texto"><a href="https://www.facebook.com/fiunju/?locale=es_LA">Facebook de la facultad</a>
    			<p class="texto">Teléfono: 0388 422-1580 </p>
    			
    		</footer>	
	</body>
</html>