<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<title>Programacion Visual</title>
		<link rel="stylesheet" href="/css/styles.css">
	</head>
	<body>
		<header id="encabezado">
			<h1> Bienvenido a Programacion Visual (UNJU)</h1>
		</header>
		
		<nav class="menu">
			<ul class="texto" >
				<li><a href="https://www.fi.unju.edu.ar" class="link"> Pagina oifical de la facultad </a></li>
				<li><a href="https://www.virtual.unju.edu.ar/course/view.php?id=2540" class="link">Materia en el aula virtual</a></li>
				<li><a href="https://es.wikipedia.org/wiki/Programaci%C3%B3n_visual" class="link">Informacion adicional de la materia</a></li>
				<p class="form"><a href="form-cliente.html">Ir al formulario</a> </p>
			</ul>
	
		</nav>
		
		
		<main class="contenidoPrincipal">
			<section id="inicio" class="secciones">
				<h2 class="titulosdeSeleccion">>Corresponde:</h2>
				<p>Materia de 2do año en la materia Analista Programador Universitario </p>
				<img alt="logo de la materia" src="/images/logopv.png" width="400" class="imagenes"> 
				<h3 class="titulosdeSeleccion">>Docentes</h3>
				<ol class="texto">
					<li>Vega Ariel</li>
					<li>Apaza Carolina </li>
					<li>Sosa Gustavo </li>
					<li>Rodriguez Juan</li>
				</ol>
			</section>
			<section id="horarios" class="secciones">
			<h3 class="titulosdeSeleccion">>Horarios por Comision</h3>
				<ol class="texto">
					<li>Practica: Lunes (18:00 a 21:00) </li>
					<li>Practica: Jueves (15:00 a 17:00) </li>
					<li>Practica: Viernes (18:00 a 21:00) </li>
				</ol>
			<h4 class="titulosdeSeleccion">>Profesor de Teoria: Vega Ariel</h4>
			<a href="https://bit.ly/ZOOMFI-14" class="link">Link del aula de la materia</a>
			</section>
			<section id="informacion" class="secciones">
			<h3 class="titulosdeSeleccion">>Informacion:</h3>
			<p class="texto">Aprendemos los conceptos básicos de programación en Java, como tipos de datos, estructuras y la idea de programación orientada a objetos.
			Nos sumergimos en el mundo de las aplicaciones web, utilizando Spring Boot, un framework muy popular. Aprenderemos a crear proyectos web, manejar peticiones y diseñar interfaces con HTML y CSS.</p>
			</section>
		
		
		</main>
		<aside class="contenidoAdicional">
			<h3 class="titulosdeSeleccion">Adicionales</h3>
			<p  class="texto">Contenido del aside </p>
			<img alt="logo de la facultad" src="images/logo.png" width="200" class="imagenes"> 
    		<img alt="logo de la universidad" src="images/unju_utn.png" width="200" class="imagenes"> 
    		
		</aside>
		
			
    		<footer>
    			<p  class="texto">Derechos de autor © 2024 - FACULTAD DE INGIENERIA - UNJU</p>
 				<p class="texto"><a href="https://www.fi.unju.edu.ar/">Pagina oficial de la facultad</a>
    			<p class="texto"><a href="https://www.facebook.com/fiunju/?locale=es_LA">Facebook de la facultad</a>
    			<p class="texto">Teléfono: 0388 422-1580 </p>
    			
    		</footer>	
	</body>
</html>