<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<title>Programacion Visual</title>
		<link rel="stylesheet" href="../static/css/styles.css">
	</head>
	<body>
		<header id="encabezado">
			<h1> Bienvenido a Programacion Visual (UNJU)</h1>
		</header>
		
		<nav class="menu">
			<ul class="texto" >
				<li><a href="https://www.fi.unju.edu.ar" class="link"> Pagina oifical de la facultad </a></li>
				<li><a href="https://www.virtual.unju.edu.ar/course/view.php?id=2540" class="link">Materia en el aula virtual</a></li>
				<li><a href="https://es.wikipedia.org/wiki/Programaci%C3%B3n_visual" class="link">Informacion adicional de la materia</a></li>
				
			</ul>
	
		</nav>
		
		
		<main class="contenidoPrincipal">
			
			
			
			<section id="informacion" class="secciones">
			<h3 class="titulosdeSeleccion">>Informacion:</h3>
			<p class="texto">Aprendemos los conceptos básicos de programación en Java, como tipos de datos, estructuras y la idea de programación orientada a objetos.
			Nos sumergimos en el mundo de las aplicaciones web, utilizando Spring Boot, un framework muy popular. Aprenderemos a crear proyectos web, manejar peticiones y diseñar interfaces con HTML y CSS.</p>
			</section>
			
			
			
			
			<section class="profesores">
				<h3>Profesores (teoricas y practicas)</h3>
				<table class="tablaProfesores">
					<tr>
						<th>TEORIA</th>
						<th>PRACTICA</th>
						<th>PRACTICA</th>
						<th>PRACTICA</th>
					</tr>
					<tr>
						<td>Ariel Vega</td>
						<td>Carolina Apaza</td>
						<td>Juan Carlos Rodriguez</td>
						<td>Gustavo Sosa</td>
					</tr>
				</table>
			</section>
			
			
			<section id="horarios" class="secciones">
			<img alt="logo de la materia" src="../static/images/hero-inferior.svg" width="400" class="imagenes">
			<h3 class="titulosdeSeleccion">>Horarios por Comision</h3>
				<ol class="texto">
					<li>Practica: Lunes (18:00 a 21:00) </li>
					<li>Practica: Jueves (15:00 a 17:00) </li>
					<li>Practica: Viernes (18:00 a 21:00) </li>
				</ol>
		
			</section>
			
		
		
		</main>
		<aside class="contenidoAdicional">
			<h3 class="titulosdeSeleccion">Adicionales</h3>

			<img alt="logo-spring" src="../static/images/spring-tool-dark.svg">
			<p > STS es un IDE basado en Eclipse que está especialmente diseñado para desarrollar aplicaciones Spring. Viene con una amplia gama de características que pueden mejorar en gran medida la experiencia del desarrollador, que incluyen: Plantillas de proyecto para crear nuevos proyectos Spring Boot, MVC y Batch.</p>
			
			<img alt="logo-java" src="../static/images/java.jpg">
			<p> Java es un lenguaje de programación y una plataforma informática que fue comercializada por primera vez en 1995 por Sun Microsystems</p>
			<h3>¿Cuales son sus beneficios?</h3>
			<p>Java es uno de los lenguajes de programación más populares para desarrollar sistemas empresariales y aplicaciones web. Su principal virtud radica en la potencia y robustez del lenguaje y la amplia comunidad que lo apoya, la portabilidad y la escalabilidad.</p> 
    		<img alt="logo de la universidad" src="../static/images/unju_utn.png" width="200" class="imagenes"> 
    		
		</aside>
		
										<!-- Pie de la pagina -->
    		<footer>
    			<p  class="texto">Derechos de autor © 2024 - FACULTAD DE INGIENERIA - UNJU</p>
 				<p class="texto"><a href="https://www.fi.unju.edu.ar/">Pagina oficial de la facultad</a>
    			<p class="texto"><a href="https://www.facebook.com/fiunju/?locale=es_LA">Facebook de la facultad</a>
    			<p class="texto">Teléfono: 0388 422-1580 </p>
    			
    		</footer>	
	</body>
</html>